<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Admin Page</title>
	<link rel="stylesheet" th:href="@{/admin/style.css}">
	<link rel="stylesheet" th:href="@{/admin/product.css}">
	<link rel="stylesheet" th:href="@{/admin/main-color.css}">
	<link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
	.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: inline;
}

.paging-item {
    color: #333;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.paging-item:hover {
    background-color: #ddd;
}

.current-page {
    background-color: #337ab7;
    color: #fff;
    padding: 8px 16px;
}
.pagination{
	padding:5px;
}


.form-row {
      margin-bottom: 10px;
    }
    textarea, input {
      width: 30%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      padding: 10px 20px;
      background-color: #ff0000;
      color: #fff;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      text-decoration: none;
      outline: none;
    }
    button:hover {
      opacity: 0.8;
    }
    #send-mail-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 25px;
    text-decoration: none;
  }
  #send-mail-button:hover {
    opacity: 0.8;
  }
  #send-mail-button i {
    margin-right: 5px;
  }
   input[name="email"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
</style>
</head>
<body>

<div class="container-scroller">
	<div th:replace="admin/menu::menu-section"></div>

	<section id="content">
		<div th:replace="admin/header::header-nav"></div>
		<main>
			<div class="dashboard-content">

				<!-- Titlebar -->
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h2 th:text="${session.admin.user_Name + '!'}"></h2>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="homeAdmin">Home</a></li>
								<li class="breadcrumb-item active">Danh sách đơn hàng</li>
							</ol>
						</div>
					</div>
				</div>

				<div class="row">

					<!-- Listings -->
					<div class="col-lg-12 col-md-12">
						<div class="dashboard-list-box margin-top-0">



							<h4>Booking Requests</h4>
							<ul>
								<th:block th:each="y : ${pageOrder.content}">
									<li class="pending-booking">
										<div class="list-box-listing bookings">
											<div class="list-box-listing-img">
												<img th:src="${y.user.avatar}" alt="">
											</div>
											<div class="list-box-listing-content">
												<div class="inner">
													<div></div>
													<h3 th:if="${y.order_Item.size() == 1}"
														th:text="${y.order_Item[0].product.product_Name}"></h3>
													<h3 th:if="${y.order_Item.size() > 1}"
														th:text="${y.order_Item[0].product.product_Name} + '( And '+ ${y.order_Item.size() - 1} + ' more ...)'"></h3>
													<div class="inner-booking-list">
														<h5>Ngày mua:</h5>
														<ul class="booking-list">
															<li class="highlighted"
																th:text="${#dates.format(y.booking_Date, 'dd/MM/yyyy')}"></li>
														</ul>
													</div>

													<div class="inner-booking-list">
														<h5>Chú thích:</h5>
														<ul class="booking-list">
															<li class="highlighted" th:text="${y.note}"></li>
														</ul>
													</div>

													<div class="inner-booking-list">
														<h5>Tổng tiền:</h5>
														<ul class="booking-list">
															<li class="highlighted"
																th:text="${#numbers.formatDecimal(y.total, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></li>
														</ul>
													</div>

													<div class="inner-booking-list">
														<h5>Thông tin khách hàng:</h5>
														<ul class="booking-list">
															<li th:text="${y.user.user_Name}"></li>
															<li th:text="${y.user.email}"></li>
															<li th:text="${y.user.phone_Number}"></li>
														</ul>
													</div>

													<!-- Reply to review popup -->
													<a href="#small-dialog" id="send-mail-button" class="rate-review popup-with-zoom-anim">
														<i class="sl sl-icon-envelope-open"></i> Gửi mail
													</a>

													<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
														<div class="small-dialog-header">
															<h3>Send Message</h3>
														</div>
														<div class="message-reply margin-top-0">
															<form action="/send-message" method="post">
																<div class="form-row">
																	<textarea name="message" cols="40" rows="3" th:placeholder="'Your Message to ' +${y.user.user_Name}"></textarea>
																</div>
																<div class="form-row">
																	<input name="email" th:value="${y.user.email}">
																</div>
																<div class="form-row">
																	<button type="submit" class="button">Gửi</button>
																</div>
															</form>
														</div>
													</div>

												</div>
											</div>
										</div>
										<div class="buttons-to-right">
											<a th:href="@{/delete-order/{id}(id=${y.id})}" class="button gray reject"><i
													class="sl sl-icon-close"></i> Delete</a> <a
												th:href="@{/invoice/{id}(id=${y.id})}"
												class="button gray approve"><i class="im im-icon-Coin"></i>
											View Invoice</a>
										</div>
									</li>
								</th:block>
							</ul>
						</div>
					</div>

					<!-- Pagination -->
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12">
							<!-- Pagination -->
							<div class="pagination-container margin-top-20 margin-bottom-40">
								<nav class="pagination">
									<ul>
										<li><a th:if="${pageOrder.number} > 0"
											   th:href="@{/orderAdmin/{page}(page=${pageOrder.number - 1})}"><i
												class="sl sl-icon-arrow-left"></i></a></li>
										<li><a
												th:href="@{/orderAdmin/{page}(page=${pageOrder.number})}"
												class="current-page" th:text="${pageOrder.number+1}"></a></li>
										<li><a
												th:if="${pageOrder.number} < ${pageOrder.totalPages - 1}"
												th:href="@{/orderAdmin/{page}(page=${pageOrder.number + 1})}"><i
												class="sl sl-icon-arrow-right"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!-- Pagination / End -->

				</div>

			</div>
			<!-- Content / End -->
		</main>
	</section>
</div>
<script th:src="@{/admin/script.js}"></script>
<script th:src="@{/fontawesome/js/all.min.js}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function() {
      $('#send-mail-button').magnificPopup({
        type: 'inline',
        preloader: false,
        closeOnBgClick: true,
        callbacks: {
          close: function() {
            $(this.content).find('form')[0].reset();
          }
        }
      });
    });
  </script>
<script>
		$(function() {

			var start = moment().subtract(29, 'days');
			var end = moment();

			function cb(start, end) {
				$('#booking-date-range span').html(
						start.format('MMMM D, YYYY') + ' - '
								+ end.format('MMMM D, YYYY'));
			}
			cb(start, end);
			$('#booking-date-range').daterangepicker(
					{
						"opens" : "left",
						"autoUpdateInput" : false,
						"alwaysShowCalendars" : true,
						startDate : start,
						endDate : end,
						ranges : {
							'Today' : [ moment(), moment() ],
							'Yesterday' : [ moment().subtract(1, 'days'),
									moment().subtract(1, 'days') ],
							'Last 7 Days' : [ moment().subtract(6, 'days'),
									moment() ],
							'Last 30 Days' : [ moment().subtract(29, 'days'),
									moment() ],
							'This Month' : [ moment().startOf('month'),
									moment().endOf('month') ],
							'Last Month' : [
									moment().subtract(1, 'month').startOf(
											'month'),
									moment().subtract(1, 'month')
											.endOf('month') ]
						}
					}, cb);

			cb(start, end);
		});
		// Calendar animation and visual settings
		$('#booking-date-range')
				.on(
						'show.daterangepicker',
						function(ev, picker) {
							$('.daterangepicker')
									.addClass(
											'calendar-visible calendar-animated bordered-style');
							$('.daterangepicker')
									.removeClass('calendar-hidden');
						});
		$('#booking-date-range').on('hide.daterangepicker',
				function(ev, picker) {
					$('.daterangepicker').removeClass('calendar-visible');
					$('.daterangepicker').addClass('calendar-hidden');
				});
	</script>
</body>
</html>


