<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Admin Page</title>
	<link rel="stylesheet" th:href="@{/admin/style.css}">
	<link rel="stylesheet" th:href="@{/admin/product.css}">
	<link rel="stylesheet" th:href="@{/admin/main-color.css}">
	<link th:href="@{/fontawesome/css/all.css}" rel="stylesheet">
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<body>

<div class="container-scroller">
	<div th:replace="admin/menu::menu-section"></div>

	<section id="content">
		<div th:replace="admin/header::header-nav"></div>
		<main>
			<div class="dashboard-content">
				<form action="/listProduct/edit" method="post"
					  enctype="multipart/form-data">
					<!-- Titlebar -->
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h2 th:text="${session.admin.user_Name + '!'}"></h2>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a href="homeAdmin">Home</a></li>
									<li class="breadcrumb-item active">Chỉnh sửa sản phẩm</li>
								</ol>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12">

							<div id="add-listing">

								<!-- Section -->
								<div class="add-listing-section">

									<!-- Headline -->
									<div class="add-listing-headline">
										<h3>
											<i class="sl sl-icon-doc"></i> Thông tin sản phẩm
										</h3>
									</div>

									<!-- Title -->
									<div class="row with-forms">
										<div class="col-md-12">
											<h5>Tên sản phẩm</h5>
											<input style="display: none;" name="product_id" th:value="${product.id}">
											<input name="product_name" class="search-field" type="text"
												   th:value="${product.product_Name}"
												   placeholder="Product Name" />
										</div>
									</div>

									<!-- Row -->
									<div class="row with-forms">
										<!-- Price -->
										<div class="col-md-4">
											<h5>Giá tiền</h5>
											<input th:value="${product.price}" name="price" type="text"
												   placeholder="Price">
										</div>

										<div class="col-md-4">
											<h5>Số lượng</h5>
											<input th:value="${product.quantity}" name="availability"
												   type="text" placeholder="Availability">
										</div>
										<!-- Status -->
										<div class="col-md-4">
											<h5>Loại sản phẩm</h5>
											<select name="category" class="chosen-select-no-single">
												<option th:value="${product.category.id}" label="blank"
														th:text="${product.category.category_Name}"></option>
												<th:block th:each="y : ${listCategories}">
													<option th:value="${y.id}"
															th:if="${y.id != product.category.id}"
															th:text="${y.category_Name}"></option>
												</th:block>
											</select>
										</div>

									</div>
									<!-- Row / End -->

								</div>
								<!-- Section / End -->

								<!-- Section -->
								<div class="add-listing-section margin-top-45">

									<!-- Headline -->
									<div class="add-listing-headline">
										<h3>
											<i class="sl sl-icon-docs"></i> Details
										</h3>
									</div>

									<!-- Description -->
									<div class="form">
										<h5>Mô tả</h5>
										<textarea th:field="${product.description}" name="description"
												  class="WYSIWYG" cols="40" rows="3" id="summary"
												  spellcheck="true" placeholder="Description"></textarea>
									</div>
								</div>
								<!-- Section / End -->

								<!-- Section -->
								<div class="add-listing-section margin-top-45">

									<!-- Headline -->
									<div class="add-listing-headline">
										<h3>
											<i class="sl sl-icon-picture"></i> Hình ảnh
										</h3>
									</div>
									<!-- Thẻ Chứa Slideshow -->
									<div class="slideshow-container" style="width: 30%;">
										<!-- Kết hợp hình ảnh và nội dung cho mội phần tử trong slideshow-->
										<th:block th:each="y: ${product.productImage}">
											<div class="mySlides fade">
												<a th:href="@{/listProduct/delete-image/{id}(id=${y.id})}" class="delete_img"> <i
														style="color: #fff; line-height: 30px;"
														class="sl sl-icon-close"></i>

												</a> <img th:src="${y.url_Image}" style="width: 100%">
											</div>
										</th:block>
										<!-- Nút điều khiển mũi tên-->
										<a class="prev" onclick="plusSlides(-1)">❮</a> <a class="next"
																						  onclick="plusSlides(1)">❯</a>
									</div>
									<br>
									<!-- Nút tròn điều khiển slideshow-->
									<div style="text-align: center">
										<th:block th:each="y: ${product.productImage}">
											<span class="dotw" th:onclick="'currentSlide('+ ${yStat.index+1} +')'"></span>
										</th:block>

									</div>
									<!-- Dropzone -->
									<div class="submit-section">

										<div class="upload__box" style="padding-top: 40px;">
											<div class="upload__btn-box">
												<label class="upload__btn" style="border-radius: 50px;">
													<p style="margin-bottom: 0px;">Thêm ảnh</p> <input
														name="listImage" accept="image/*" type="file"
														data-max_length="20" class="upload__inputfile" multiple>
												</label>
											</div>
											<div class="upload__img-wrap"></div>
										</div>
									</div>
								</div>
								<!-- Section / End -->

								<button class="button preview">
									Lưu <i class="fa fa-arrow-circle-right"></i>
								</button>

							</div>
						</div>

						<!-- Copyrights -->
						<div class="col-md-12">
							<div class="copyrights"></div>
						</div>

					</div>
				</form>
			</div>
		</main>
	</section>
</div>
<script th:src="@{/admin/script.js}"></script>
<script th:src="@{/fontawesome/js/all.min.js}"></script>
<script type="text/javascript" src="/scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript"
		src="/scripts/jquery-migrate-3.3.2.min.js"></script>
<script>
		var slideIndex = 1;
		showSlides(slideIndex);
		function plusSlides(n) {
			showSlides(slideIndex += n);
		}
		function currentSlide(n) {
			showSlides(slideIndex = n);
		}
		function showSlides(n) {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			if (n > slides.length) {
				slideIndex = 1
			}
			if (n < 1) {
				slideIndex = slides.length
			}
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex - 1].style.display = "block";
			/* dots[slideIndex - 1].className += " active"; */
		}
	</script>
<script>
		jQuery(document).ready(function() {
			ImgUpload();
		});

		function ImgUpload() {
			var imgWrap = "";
			var imgArray = [];

			$('.upload__inputfile')
					.each(
							function() {
								$(this)
										.on(
												'change',
												function(e) {
													imgWrap = $(this)
															.closest(
																	'.upload__box')
															.find(
																	'.upload__img-wrap');
													var maxLength = $(this)
															.attr(
																	'data-max_length');

													var files = e.target.files;
													var filesArr = Array.prototype.slice
															.call(files);
													var iterator = 0;
													filesArr
															.forEach(function(
																	f, index) {

																if (!f.type
																		.match('image.*')) {
																	return;
																}

																if (imgArray.length > maxLength) {
																	return false
																} else {
																	var len = 0;
																	for (var i = 0; i < imgArray.length; i++) {
																		if (imgArray[i] !== undefined) {
																			len++;
																		}
																	}
																	if (len > maxLength) {
																		return false;
																	} else {
																		imgArray
																				.push(f);

																		var reader = new FileReader();
																		reader.onload = function(
																				e) {
																			var html = "<div class='upload__img-box'><div style='background-image: url("
																					+ e.target.result
																					+ ")' data-number='"
																					+ $(".upload__img-close").length
																					+ "' data-file='"
																					+ f.name
																					+ "' class='img-bg'><div class='upload__img-close'></div></div></div>";
																			imgWrap
																					.append(html);
																			iterator++;
																		}
																		reader
																				.readAsDataURL(f);
																	}
																}
															});
												});
							});

			$('body').on('click', ".upload__img-close", function(e) {
				var file = $(this).parent().data("file");
				for (var i = 0; i < imgArray.length; i++) {
					if (imgArray[i].name === file) {
						imgArray.splice(i, 1);
						break;
					}
				}
				$(this).parent().parent().remove();
			});
		}
	</script>
</body>
</html>


