<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>

</style>
<body>
<!-- Footer -->
<footer  th:fragment="footer-web">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<h3>Về chúng tôi</h3>
				<p>
					Chúng tôi là một cửa hàng bán mỹ phẩm chuyên nghiệp. <br /> Với
					nhiều năm kinh nghiệm, chúng tôi cam kết mang lại cho khách hàng
					sản phẩm chất lượng và dịch vụ tốt nhất.
				</p>
			</div>
			<div class="col-md-4 col-sm-6">
				<h3>Liên hệ</h3>
				<ul class="contact">
					<li><i class="fa fa-map-marker"></i> Địa chỉ: 1502/22 Nguyễn
						Duy Trinh, Phường Long Trường, Quận 9</li>
					<li><i class="fa fa-phone"></i> Điện thoại: 0707396920</li>
					<li><i class="fa fa-envelope"></i> Email: infoBeauty@sarah.com</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<h3>Theo dõi chúng tôi</h3>
				<ul class="social d-flex flex-row">
					<li><a href="#" style="background-color: #3a61c9"><i
							class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #41a1f6"><i
							class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #fb4343"><i
							class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#" style="background-color: #8f6247"><i
							class="fa fa-instagram" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</body>
</html>